/* 
    Document   : site
    Created on : 12 oct. 2011, 16:25:15
    Author     : anthony
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.erreur{
    width: 400px;
    margin-left: 250px;
    color: red;
    font-size: 16px;
    text-align: center;
    border: 1px solid red;
}

.submit{
    text-align: center;
    width: 840px;
}

.tableau{
   
    border: 1px solid black;
    border-collapse: collapse; 
    padding: 8px ;
    vertical-align: top;
}

/* LOGIN */
.login{
    margin: 0 auto 0 auto;
}
.corps_log{
    margin-left: 400px;
    border: 1px solid black;
    width: 400px;
    vertical-align: top;
    text-align: center;
    background-color: #cdcdcc;
}
#log_champ_connexion{
    background-color: black;
    color: #FFFFFF;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}

.champ_log_mdp{
    text-align: right;
}

.rouge{
    color: red;
}

.vert{
    color: green;
}

/* Lister les propositions de stage coté etudiant */

