/* 
    Document   : site
    Created on : 12 oct. 2011, 16:25:15
    Author     : anthony
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.erreur{
    width: 400px;
    margin-left: 250px;
    color: red;
    font-size: 16px;
    text-align: center;
    border: 1px solid red;
}

.submit{
    text-align: center;
    width: 840px;
}

.tableau{
   
    border: 1px solid black;
    border-collapse: collapse; 
    padding: 8px ;
    vertical-align: top;
}

/* LOGIN */
.login{
    margin: 0 auto 0 auto;
}
.corps_log{
    margin-left: 400px;
    border: 1px solid black;
    width: 400px;
    vertical-align: top;
    text-align: center;
    background-color: #cdcdcc;
}
#log_champ_connexion{
    background-color: black;
    color: #FFFFFF;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}

.champ_log_mdp{
    text-align: right;
}


/*Pour la page d'inscription */
.corps_inscription{
    margin-left: 400px;
    border: 1px solid black;
    width: 600px;
    vertical-align: top;
    text-align: center;
    background-color: #cdcdcc;
}

/* Proposer un stage Etape 1*/

.form_proposer_stage_choix_entreprise{
    width: 500px;
    margin-left: 50px;
    text-align: center;
}

.info_etape1{
    border: 1px solid red;
    margin: 0 auto 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.tab_prop_stage{
    margin: 0 auto 0 auto;
    border-collapse: collapse;
}

.entete_tab_prop_stage{
    background-color: #cdcdcc;
    border: 1px solid black;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.submit_prop{
    margin: 0 auto 0 auto;
    width: 820px;
    text-align: center;
}

.form_ajout_new_company{
    margin: 0 auto 0 auto;
    width: 400px;
}

.titre_sous_categ_form{
    font-size: 20px;
    font-style: italic;
}

.form_ajout_new_company_nom_champ{
    text-align: right;
}

.form_ajout_new_company_champ{
    text-align: left;
}

/* Proposer un stage Etape 2*/

.form_etape2{
    width: 550px;
    margin: 0 auto 0 auto;
    
    border-collapse: collapse;
}

.form_etape2_recap{
    vertical-align: top;
    border: 1px solid black;
    padding: 5px;
}

.form_etape2_sous_categ{
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.form_etape2_colg{
    color: darkblue;
    text-align: right;
    
}

.form_etape2_cold{
    text-align: left;
}

.form_etape2_sujet{
    margin-left: 70px;
}

.form_etape2_titre{
    padding-left: 250px;
}

/* Lister les propositions de stage coté etudiant */

rouge{
    color: red;
    font-weight: bold;
}

vert{
    color: green;
    font-weight: bold;
}

.proposition{
    width: 680px;
    margin-left: 80px;
    border: 1px solid black;
}

.titre_prop{
    text-align: center;
}

.bloc_prop_entreprise{
    vertical-align: top;
}

.etat_prop{
    vertical-align: top;
}

.prop_entreprise{
    vertical-align: top;
}

.prop_align_text{
    text-align: right;
}

.proposition_adresse{
    vertical-align: top;
    text-align: right;
}

.sujet{
    width: 680px;
    margin-left: 80px;
    border: 1px solid black;
}

.sujet_titre{
    text-align: justify;
}

.prop_action{
    text-align: center;
}